In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

## This project will be an Exploratory Data Analysis on Netflix & Disney Plus Movies/Tv Shows dataset each obtained from Kaggle, along with my personal Netflix data acquired from Netflix Headquarters for a total of 3 different datasets.

In [4]:
df_netflix_main = pd.read_csv('/content/gdrive/My Drive/moviesdatasets/netflix_titles.csv')
df_disney_main= pd.read_csv('/content/gdrive/My Drive/moviesdatasets/disney_plus_titles.csv')
df_mynetflix_main = pd.read_csv('/content/gdrive/My Drive/moviesdatasets/ViewingActivity.csv')
df_netflix = df_netflix_main.copy()
df_disney = df_disney_main.copy()
df_mynetflix = df_mynetflix_main.copy()

Take a quick peek at the data

In [5]:
df_netflix.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [6]:
df_disney.head()

  show_id  ...                                        description
0      s1  ...  Two Pixar filmmakers strive to bring their uni...
1      s2  ...  The puppies go on a spooky adventure through a...
2      s3  ...  Hazel and Gus share a love that sweeps them on...
3      s4  ...  Matt Beisner uses unique approaches to modifyi...
4      s5  ...  Spidey teams up with pals to become The Spidey...

[5 rows x 12 columns]

In [7]:
df_mynetflix.head()

  Profile Name           Start Time  ...  Latest Bookmark      Country
0         Andy  2021-10-18 06:24:27  ...         00:51:10  CA (Canada)
1         Andy  2021-10-18 05:56:33  ...         00:28:06  CA (Canada)
2         Andy  2021-10-18 05:10:38  ...         00:53:39  CA (Canada)
3         Andy  2021-10-18 05:09:16  ...         00:57:16  CA (Canada)
4         Andy  2021-10-18 05:07:41  ...  Not latest view  CA (Canada)

[5 rows x 10 columns]

We notice the similarities in the two Kaggle datasets so we clean the two datasets together and the third dataset seperately.

# Data Cleaning - Kaggle Datasets

See how many null values there are for each column

In [8]:
df_netflix.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [9]:
df_disney.isna().sum()

show_id           0
type              0
title             0
director        440
cast            174
country         175
date_added        3
release_year      0
rating            2
duration          0
listed_in         0
description       0
dtype: int64

We can see that there are a lot of missing values for director, cast and country. They are names but we could possibly use them to rank the number of movies a director has filmed, for example. We replace the NaN values with "Unknown". As there are only an insignificant number of NA values for date added,rating,and duration, we may drop those rows.

Get rid of rows with missing values for date added, rating and duration

In [11]:
df_netflix = df_netflix.drop(df_netflix[df_netflix['date_added'].isna()].index)
df_disney = df_disney.drop(df_disney[df_disney['date_added'].isna()].index)

In [12]:
df_netflix = df_netflix.drop(df_netflix[df_netflix['rating'].isna()].index)
df_disney = df_disney.drop(df_disney[df_disney['rating'].isna()].index)

In [14]:
df_netflix = df_netflix.drop(df_netflix[df_netflix['duration'].isna()].index)

In [15]:
df_netflix.isna().sum()

show_id            0
type               0
title              0
director        2621
cast             825
country          829
date_added         0
release_year       0
rating             0
duration           0
listed_in          0
description        0
dtype: int64

In [16]:
df_disney.isna().sum()

show_id           0
type              0
title             0
director        436
cast            173
country         173
date_added        0
release_year      0
rating            0
duration          0
listed_in         0
description       0
dtype: int64

The quantity of missing values are too high to drop the missing rows and quality of features are too important to drop columns. Instead we can just classify the NA's as "Unknown".

In [17]:
df_netflix['director'].fillna("Unknown",inplace = True)
df_netflix['cast'].fillna("Unknown",inplace = True)
df_netflix['country'].fillna("Unknown",inplace = True)
df_disney['director'].fillna("Unknown",inplace = True)
df_disney['cast'].fillna("Unknown",inplace = True)
df_disney['country'].fillna("Unknown",inplace = True)

In [18]:
df_netflix.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [19]:
df_disney.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

Now we see that there are no missing values for the Kaggle datasets.

# Data Cleaning - Personal Data

In [20]:
df_mynetflix.isna().sum()

Profile Name                   0
Start Time                     0
Duration                       0
Attributes                  9221
Title                          0
Supplemental Video Type    12152
Device Type                    0
Bookmark                       0
Latest Bookmark                0
Country                        0
dtype: int64

For my personal dataset recieved by Netflix, we have missing values for Attributes and Supplemental Video Type. Attributes are whether a video was viewed through autoplay. Supplemental Video Type is whether a viewer watched the trailer or the Hook(auto playing trailers when hovering over title). We may safely remove those columns as we are mainly interested in the films that were actually watched. We may also drop Bookmark and Latest Bookmark, as it is severely correlated with duration of watch time because as soon as we turn off a video, Netflix automatically bookmarks the timestamp.

In [21]:
df_mynetflix = df_mynetflix.drop(['Attributes','Supplemental Video Type','Latest Bookmark','Bookmark'],axis = 1)

df_mynetflix.head()

  Profile Name           Start Time  ...                 Device Type      Country
0         Andy  2021-10-18 06:24:27  ...  Apple iPhone XS Max (CDMA)  CA (Canada)
1         Andy  2021-10-18 05:56:33  ...  Apple iPhone XS Max (CDMA)  CA (Canada)
2         Andy  2021-10-18 05:10:38  ...  Apple iPhone XS Max (CDMA)  CA (Canada)
3         Andy  2021-10-18 05:09:16  ...  Apple iPhone XS Max (CDMA)  CA (Canada)
4         Andy  2021-10-18 05:07:41  ...  Apple iPhone XS Max (CDMA)  CA (Canada)

[5 rows x 6 columns]

Now, We try to look for any incomplete values or any outliers.

In [22]:
df_mynetflix['Profile Name'].value_counts()

Iris        7345
나           3461
Andy        3041
youngjin     175
Kids           9
Name: Profile Name, dtype: int64

In [23]:
df_mynetflix['Title'].value_counts()

Superbad                                                         27
Pineapple Express                                                24
Zombieland                                                       23
Inception                                                        19
Charlie and the Chocolate Factory                                18
                                                                 ..
Season 1 Trailer: Shadow and Bone                                 1
투 더 레이크: 시즌 1: 1화 (1화)                                            1
Bob's Burgers: Season 3: Lindapendent Woman (Episode 14)          1
Brooklyn Nine-Nine: Season 4: Coral Palms: Part 3 (Episode 3)     1
Ginny & Georgia: Season 1: Feelings Are Hard (Episode 9)          1
Name: Title, Length: 7089, dtype: int64

Looks like one user has the language settings to Korean, and therefore there are inconsistencies in the data. Due to these complications, we have no choice but to drop the Korean account.

In [24]:
df_mynetflix = df_mynetflix.drop(df_mynetflix[df_mynetflix['Profile Name'] == '나'].index)
df_mynetflix['Profile Name'].value_counts()

Iris        7345
Andy        3041
youngjin     175
Kids           9
Name: Profile Name, dtype: int64

# Changing to appropriate data types

In this section, we change the datatypes of appropriate columns to category

In [26]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   cast          8790 non-null   object
 5   country       8790 non-null   object
 6   date_added    8790 non-null   object
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   object
 9   duration      8790 non-null   object
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
dtypes: int64(1), object(11)
memory usage: 892.7+ KB

In [27]:
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1363 entries, 0 to 1364
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1363 non-null   object
 1   type          1363 non-null   object
 2   title         1363 non-null   object
 3   director      1363 non-null   object
 4   cast          1363 non-null   object
 5   country       1363 non-null   object
 6   date_added    1363 non-null   object
 7   release_year  1363 non-null   int64
 8   rating        1363 non-null   object
 9   duration      1363 non-null   object
 10  listed_in     1363 non-null   object
 11  description   1363 non-null   object
dtypes: int64(1), object(11)
memory usage: 138.4+ KB

In [28]:
df_mynetflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10570 entries, 0 to 10569
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Profile Name  10570 non-null  object
 1   Start Time    10570 non-null  object
 2   Duration      10570 non-null  object
 3   Title         10570 non-null  object
 4   Device Type   10570 non-null  object
 5   Country       10570 non-null  object
dtypes: object(6)
memory usage: 578.0+ KB

In [29]:
df_netflix['rating'] = df_netflix['rating'].astype('category')
df_disney['rating'] = df_disney['rating'].astype('category')
df_mynetflix['Profile Name'] = df_mynetflix['Profile Name'].astype('category')
df_mynetflix['Device Type'] = df_mynetflix['Device Type'].astype('category')
df_mynetflix['Country'] = df_mynetflix['Country'].astype('category')

# Feature Engineering - Kaggle Dataset

Extract year and month of when it was added as new columns from the dates added column

In [31]:
df_netflix['year_added'] = df_netflix['date_added'].apply(lambda x: x.split(" ")[-1])
df_netflix['month_added'] = df_netflix['date_added'].apply(lambda x: x.split(" ")[0])

df_disney['year_added'] = df_disney['date_added'].apply(lambda x: x.split(" ")[-1])
df_disney['month_added'] = df_disney['date_added'].apply(lambda x: x.split(" ")[0])

Can maybe extract another feature with number of genres the movie/tv show is listed in

In [32]:
df_netflix['num_genres'] = df_netflix['listed_in'].apply(lambda x: len(x.split(",")))
df_disney['num_genres'] = df_disney['listed_in'].apply(lambda x: len(x.split(",")))

Can extract another feature with the number of seasons. If its a movie with no seasons, then we would set it to 0

In [33]:
df_netflix['num_seasons'] = df_netflix['duration'].apply(lambda x: x.split(" ")[0] if (x.split(" ")[-1] == "Seasons" or x.split(" ")[-1] == "Season") else 0)
df_disney['num_seasons'] = df_disney['duration'].apply(lambda x: x.split(" ")[0] if (x.split(" ")[-1] == "Seasons" or x.split(" ")[-1] == "Season") else 0)

We can also split the duration into chunks like 100 min or less, more than 100 minutes, 5 seasons or less, and more than 5 seasons. The duration variable is better off splitting it into sections due to the varying number of movie duration. Computationally expensive to make different dummies for all different movie durations.

In [34]:
df_netflix['duration'] = df_netflix['duration'].apply(lambda x: "5 Seasons or Less" if ((x.split(" ")[-1] == "Seasons" or x.split(" ")[-1] == "Season") and (int(x.split(" ")[0])) <= 5) else x)
df_netflix['duration'] = df_netflix['duration'].apply(lambda x: "More than 5 Seasons" if (x.split(" ")[-1] == "Seasons" or x.split(" ")[-1] == "Season") and (int(x.split(" ")[0]) > 5) else x)
df_netflix['duration'] = df_netflix['duration'].apply(lambda x: "50 minutes or less" if (x.split(" ")[-1] == "min") and (int(x.split(" ")[0]) <= 50) else x)
df_netflix['duration'] = df_netflix['duration'].apply(lambda x: "Between 50 mins and 100 mins" if (x.split(" ")[-1] == "min") and ((int(x.split(" ")[0]) > 50) and (int(x.split(" ")[0]) <= 100)) else x)
df_netflix['duration'] = df_netflix['duration'].apply(lambda x: "Between 100 mins and 150 mins" if (x.split(" ")[-1] == "min") and ((int(x.split(" ")[0]) > 100) and (int(x.split(" ")[0]) <= 150)) else x)
df_netflix['duration'] = df_netflix['duration'].apply(lambda x: "More than 150 minutes" if (x.split(" ")[-1] == "min") and (int(x.split(" ")[0]) > 150)else x)

df_disney['duration'] = df_disney['duration'].apply(lambda x: "5 Seasons or Less" if ((x.split(" ")[-1] == "Seasons" or x.split(" ")[-1] == "Season") and (int(x.split(" ")[0])) <= 5) else x)
df_disney['duration'] = df_disney['duration'].apply(lambda x: "More than 5 Seasons" if (x.split(" ")[-1] == "Seasons" or x.split(" ")[-1] == "Season") and (int(x.split(" ")[0]) > 5) else x)
df_disney['duration'] = df_disney['duration'].apply(lambda x: "50 minutes or less" if (x.split(" ")[-1] == "min") and (int(x.split(" ")[0]) <= 50) else x)
df_disney['duration'] = df_disney['duration'].apply(lambda x: "Between 50 mins and 100 mins" if (x.split(" ")[-1] == "min") and ((int(x.split(" ")[0]) > 50) and (int(x.split(" ")[0]) <= 100)) else x)
df_disney['duration'] = df_disney['duration'].apply(lambda x: "Between 100 mins and 150 mins" if (x.split(" ")[-1] == "min") and ((int(x.split(" ")[0]) > 100) and (int(x.split(" ")[0]) <= 150)) else x)
df_disney['duration'] = df_disney['duration'].apply(lambda x: "More than 150 minutes" if (x.split(" ")[-1] == "min") and (int(x.split(" ")[0]) > 150)else x)

We can also add another feature for number of casts as it might be useful for analysis.

In [35]:
df_netflix['num_cast'] = df_netflix['cast'].apply(lambda x: len(x.split(",")) if x != "Unknown" else 0)
df_disney['num_cast'] = df_disney['cast'].apply(lambda x: len(x.split(",")) if x != "Unknown" else 0)
df_disney.head()

  show_id     type  ... num_seasons num_cast
0      s1    Movie  ...           0        2
1      s2    Movie  ...           0        6
2      s3    Movie  ...           0        6
3      s4  TV Show  ...           2        1
4      s5  TV Show  ...           1        5

[5 rows x 17 columns]

# Feature Engineering - Personal Dataset

In [36]:
df_mynetflix.head()

  Profile Name           Start Time  ...                 Device Type      Country
0         Andy  2021-10-18 06:24:27  ...  Apple iPhone XS Max (CDMA)  CA (Canada)
1         Andy  2021-10-18 05:56:33  ...  Apple iPhone XS Max (CDMA)  CA (Canada)
2         Andy  2021-10-18 05:10:38  ...  Apple iPhone XS Max (CDMA)  CA (Canada)
3         Andy  2021-10-18 05:09:16  ...  Apple iPhone XS Max (CDMA)  CA (Canada)
4         Andy  2021-10-18 05:07:41  ...  Apple iPhone XS Max (CDMA)  CA (Canada)

[5 rows x 6 columns]

We can add columns for Start Year, Start Month, Start Hour, Device Brand, and can modify Duration into sections :less than 30 minutes, between 30 minutes and 1 hour, more than 1 hour

In [37]:
df_mynetflix['Start Year'] = df_mynetflix['Start Time'].apply(lambda x: x.split(" ")[0].split("-")[0])
df_mynetflix['Start Month'] = df_mynetflix['Start Time'].apply(lambda x: x.split(" ")[0].split("-")[1])
df_mynetflix['Start Hour'] = df_mynetflix['Start Time'].apply(lambda x: x.split(" ")[1].split("-")[0].split(":")[0])

Now, we can relabel the month in numbers to the month names, and can convert start hour to AM/PM

In [38]:
months = {'01': 'January', '02': 'Feburary', '03': 'March', '04': 'April', '05': 'May', '06': 'June', '07': 'July', '08': 'August', '09': 'September', '10': 'October', '11': 'November', '12': 'December'}
df_mynetflix['Start Month'] = df_mynetflix['Start Month'].map(months)

Double check to see if all months were converted correctly

In [39]:
df_mynetflix['Start Month'].value_counts()

August       1210
October      1138
July         1052
September     968
April         888
Feburary      879
January       865
March         812
June          771
December      767
November      622
May           598
Name: Start Month, dtype: int64

In [40]:
hours = {'00': '12:00AM','01':'1:00AM' ,'02': '2:00AM', '03': '3:00AM', '04': '4:00AM', '05': '5:00AM', '06': '6:00AM', '07': '7:00AM', '08': '8:00AM', '09': '9:00AM', '10': '10:00AM', '11': '11:00AM', '12': '12:00PM',
          '13': '1:00PM','14': '2:00PM','15': '3:00PM','16': '4:00PM','17': '5:00PM','18': '6:00PM','19': '7:00PM','20': '8:00PM','21': '9:00PM','22': '10:00PM','23': '11:00PM'}
df_mynetflix['Start Hour'] = df_mynetflix['Start Hour'].map(hours)

Again, check if conversion was successful

In [41]:
df_mynetflix['Start Hour'].value_counts()

5:00AM     777
4:00AM     762
1:00AM     749
2:00AM     747
3:00AM     717
6:00AM     663
12:00AM    624
11:00PM    579
10:00PM    492
9:00PM     473
7:00AM     468
4:00PM     460
8:00PM     410
5:00PM     379
3:00PM     365
2:00PM     335
6:00PM     307
7:00PM     298
8:00AM     266
1:00PM     232
9:00AM     163
12:00PM    137
11:00AM     94
10:00AM     73
Name: Start Hour, dtype: int64

Since we extracted all the useful informations from the Start Time column, it is no longer useful. We can drop Start Time column.

In [42]:
df_mynetflix = df_mynetflix.drop(['Start Time'], axis = 1)

We can now extract the device brand from the Device Type column.

In [43]:
df_mynetflix['Device Brand'] = df_mynetflix['Device Type'].apply(lambda x: x.split(" ")[0])
df_mynetflix['Device Brand'].value_counts()

Netflix     6794
Apple       1898
Chrome      1104
Samsung      382
Safari       205
Internet      88
iPad          50
Roku          27
Edge          19
Android        3
Name: Device Brand, dtype: int64

In [44]:
df_mynetflix.head()

  Profile Name  Duration  ... Start Hour Device Brand
0         Andy  00:50:59  ...     6:00AM        Apple
1         Andy  00:27:54  ...     5:00AM        Apple
2         Andy  00:45:53  ...     5:00AM        Apple
3         Andy  00:00:54  ...     5:00AM        Apple
4         Andy  00:01:18  ...     5:00AM        Apple

[5 rows x 9 columns]

We have to relabel the devices. We can relable Netflix, Chrome, Internet as PC. We can rename iPad and safari as Apple, Android and Edge as Samsung. So in the end we would have PC, Apple, Samsung, Roku. After getting the Brands, we can delete the Device type column.

In [45]:
devices = {'Netflix':'PC','Chrome':'PC','Safari':'Apple','Internet':'PC','iPad':'Apple','Android':'Samsung','Edge':'Samsung'}
df_mynetflix['Device Brand'] = df_mynetflix['Device Brand'].replace(devices)
df_mynetflix = df_mynetflix.drop(['Device Type'], axis = 1)

Now, we try to modify Duration into sections: less than 30 minutes, between 30 minutes and 1 hour, more than 1 hour

In [47]:
df_mynetflix['Duration'] = df_mynetflix['Duration'].apply(lambda x: 'Less than 30 Minutes' if (int(x.split(":")[0]) == 0 and int(x.split(":")[1]) < 30) else x)
df_mynetflix['Duration'] = df_mynetflix['Duration'].apply(lambda x: 'Between 30 Minutes and 1 Hour' if (x != 'Less than 30 Minutes' and int(x.split(":")[1]) <= 59  and int(x.split(":")[1]) >= 30) else x)
df_mynetflix['Duration'] = df_mynetflix['Duration'].apply(lambda x: 'More than 1 Hour' if (x != 'Less than 30 Minutes' and x != 'Between 30 Minutes and 1 Hour' and int(x.split(":")[0]) >= 1) else x)

In [48]:
df_mynetflix['Duration'].value_counts()

Less than 30 Minutes             7939
Between 30 Minutes and 1 Hour    2308
More than 1 Hour                  323
Name: Duration, dtype: int64

Finally, we can finish off the feature engineering with extracting the country name from the country column.

In [49]:
df_mynetflix['Country'] = df_mynetflix['Country'].apply(lambda x: x.split("(")[1].split(")")[0])
df_mynetflix['Country'].value_counts()

Canada                9999
Korea, Republic of     454
United Kingdom          51
United States           48
France                  15
Mexico                   3
Name: Country, dtype: int64

In [50]:
df_mynetflix.head()

  Profile Name                       Duration  ... Start Hour Device Brand
0         Andy  Between 30 Minutes and 1 Hour  ...     6:00AM        Apple
1         Andy           Less than 30 Minutes  ...     5:00AM        Apple
2         Andy  Between 30 Minutes and 1 Hour  ...     5:00AM        Apple
3         Andy           Less than 30 Minutes  ...     5:00AM        Apple
4         Andy           Less than 30 Minutes  ...     5:00AM        Apple

[5 rows x 8 columns]

# Change datatypes for newly added/ modified features

In [51]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   cast          8790 non-null   object
 5   country       8790 non-null   object
 6   date_added    8790 non-null   object
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   category
 9   duration      8790 non-null   object
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
 12  year_added    8790 non-null   object
 13  month_added   8790 non-null   object
 14  num_genres    8790 non-null   int64
 15  num_seasons   8790 non-null   object
 16  num_cast      8790 non-null   int64
dtypes: category(1), int64(3), object(13)
memory usage: 1.1+ MB

In [52]:
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1363 entries, 0 to 1364
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1363 non-null   object
 1   type          1363 non-null   object
 2   title         1363 non-null   object
 3   director      1363 non-null   object
 4   cast          1363 non-null   object
 5   country       1363 non-null   object
 6   date_added    1363 non-null   object
 7   release_year  1363 non-null   int64
 8   rating        1363 non-null   category
 9   duration      1363 non-null   object
 10  listed_in     1363 non-null   object
 11  description   1363 non-null   object
 12  year_added    1363 non-null   object
 13  month_added   1363 non-null   object
 14  num_genres    1363 non-null   int64
 15  num_seasons   1363 non-null   object
 16  num_cast      1363 non-null   int64
dtypes: category(1), int64(3), object(13)
memory usage: 182.7+ KB

In [53]:
df_netflix['year_added'] = df_netflix['year_added'].astype('category')
df_netflix['month_added'] = df_netflix['month_added'].astype('category')
df_netflix['num_genres'] = df_netflix['num_genres'].astype('category')
df_netflix['duration'] = df_netflix['duration'].astype('category')
df_netflix['num_seasons'] = df_netflix['num_seasons'].astype('category')
df_netflix['num_cast'] = df_netflix['num_cast'].astype('category')


df_disney['year_added'] = df_disney['year_added'].astype('category')
df_disney['month_added'] = df_disney['month_added'].astype('category')
df_disney['num_genres'] = df_disney['num_genres'].astype('category')
df_disney['duration'] = df_disney['duration'].astype('category')
df_disney['num_seasons'] = df_disney['num_seasons'].astype('category')
df_disney['num_cast'] = df_disney['num_cast'].astype('category')

In [54]:
df_mynetflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10570 entries, 0 to 10569
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Profile Name  10570 non-null  category
 1   Duration      10570 non-null  object
 2   Title         10570 non-null  object
 3   Country       10570 non-null  category
 4   Start Year    10570 non-null  object
 5   Start Month   10570 non-null  object
 6   Start Hour    10570 non-null  object
 7   Device Brand  10570 non-null  object
dtypes: category(2), object(6)
memory usage: 599.1+ KB

Since we changed duration into 3 categories, we have to change the data type to category, similarly for Year,Month, and Hour.

In [55]:
df_mynetflix['Duration'] = df_mynetflix['Duration'].astype('category')
df_mynetflix['Start Year'] = df_mynetflix['Start Year'].astype('category')
df_mynetflix['Start Month'] = df_mynetflix['Start Month'].astype('category')
df_mynetflix['Start Hour'] = df_mynetflix['Start Hour'].astype('category')
df_mynetflix['Device Brand'] = df_mynetflix['Device Brand'].astype('category')

In [ ]:
df_netflix.to_csv('/content/gdrive/My Drive/moviesdatasets/netflix_titles_vis.csv')
df_disney.to_csv('/content/gdrive/My Drive/moviesdatasets/disney_titles_vis.csv')

In [44]:
df_mynetflix.to_csv('/content/gdrive/My Drive/moviesdatasets/ViewingActivity_vis.csv')

# Data Visualization

Data Visialization/ Dashboards with Tableau

https://public.tableau.com/views/NetflixDisneyAnalysis/NetflixDisneyPersonalNetflixViewingHistoryAnalysis?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link